.demo{
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 100px;
}

#cssRocks{
    border-style: dotted;
    border-color: green;
    width: 100px;
    height: 100px;
}

#styleDiff{
    color: red;
}

.header{
    border-style: dashed;
    border-color: green;
    width: 100px;
    height: 100px;
}